/*ESTILOS DE SLIDER*/

.carousel-inner img {
    margin: auto;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#carrusel {
    padding-left: 0;
    padding-right: 0;
}
.carousel-indicators .active {
    background-color: #383c44;
}
.carousel-indicators li {
    background-color: #949494;
}
/*ESTILOS LISTA DESPLEGABLE DE BARRA DE NAVEGACIÓN*/

.dropdown-toggle:active, .dropdown-toggle:hover, .open .dropdown-toggle {
    background-color: #FFFFFF !important;
}
.nav-pills .show>.nav-link {
    background-color: #FFFFFF !important;
    color: #5050e4 !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f3873a;
    color: #FFFFFF;
}
/*ESTILOS BARRA DE MENÚ*/

.nav-pills .nav-link .active {
    background-color: #FFFFFF !important;
    color: #5050e4 !important;
}
.barra:hover {
    background-color: #FFFFFF !important;
    border-radius: 4px;
}
.barra .nav-link:hover {
    color: #5050e4 !important;
}
#barra-menu {
    padding-left: 20px;
}
.barra .nav-link {
    color: #FFFFFF !important;
}
.bg-dark {
    background-color: #E2001A !important;
}
@media (min-width: 1180px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-custom>.container, .navbar-expand-custom>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
/*ESTILOS BARRA DE REDES SOCIALES*/

#barra-social {
    background-color: #e0e0e0 !important;
}
.fab, .fas {
    color: #949494 !important;
}
.justify-content-end li {
    padding-right: 15px;
}
/*ESTILOS PARA VIEWPORT (RESPONSIVE) Y BODY*/

body {
    margin: 0;
    padding-bottom: 20px;
}
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
}
#footer {
    background-color: #e0e0e0 !important;
}
#imgCabecera {
    height: 40px;
}
#cuerpo {
    padding-top: 50px;
    padding-bottom: 40px;
}
.footer {
    position: absolute !important;
    bottom: 0;
    width: 100% !important;
    padding-left: 0px !important;
}
#texto-index {
    padding-top: 60px;
}
.list-unstyled li {
    padding-top: 20px;
}
.display-3 {
    font-size: 50px;
}
.display-4 {
    font-size: 30px;
}
.display-2 {
    font-size: 20px;
}
.textos, .list-group-item{
    background-color: #fcfcfc !important;
}
.principal{
    padding-bottom: 60px;
}
.texto-cabeza {
    padding-bottom: 30px;
    color: #3e4095;
}
#green {
    color: #2c7c3c !important;
}
.separar{
    padding-top: 40px;
}
.blockquote, .display-4{
    padding: 10px;
}
.semillero{
    color: #f3873a;
}
h1{
    font-family: 'Neucha', cursive;
}